<% @pizzerias.each do |pizzeria| %>
  <div class='pizzeria'>
    <%= link_to(pizzeria.name, pizzeria_path(pizzeria)) %>
    <% pizzeria.reviews.sort_by{ |review| review.created_at }.reverse.first(3).each do |review| %>
      <div>
        <%= link_to(review.title, review_path(review)) %><br>
        <%= "#{review.rating} stars" %>
      </div>
    <% end %>
  </div>
<% end %>
