<div>
<ul>
<% @reviews.each do |review| %>
  <div class = "review"><li><%= review.title %>
  <%= review.pizzeria.name %>
  <%= review.rating %>
  <%= link_to("Delete review", review_path(review), method: :delete, confirm: true, class: "button alert round") %></li></div>
<% end %>
</ul>
</div>
