<div>
<ul>
<% @users.each do |user| %>
  <div class = "user"><li><%= user.name %>
  <%= user.username %>
  <%= user.email %>
  <%= link_to("Delete user", user_path(user), method: :delete, confirm: true, class: "button alert round") %> %></li></div>
<% end %>
</ul>
</div>
